.footer {
  width: 100%;
  hr {
    color: $font-color-secondary;
  }
  div {
    .btn {
      @include button;
      background-color: $font-color-primary;
      color: $container-bgcolor;
      border: 2px solid $font-color-primary;
      border-radius: 7px;
      font-size: 16px;
      &:active {
        transform: scale(0.9);
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
          0 17px 50px 0 rgba(0, 0, 0, 0.19);
      }
    }
  }
}
