.main {
  display: flex;
  width: 60%;
  @include tablet {
    width: 100%;
  }
  @include mobile {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .main__profile {
    width: 50%;
    margin: 1rem;
    @include tablet {
      width: 100%;
    }
    @include mobile {
      width: 100%;
    }
    .main__personal {
      background: $container-bgcolor;
      padding: 1rem 1rem 3rem 1rem;
      border-radius: 20px;
      h3 {
        color: $font-color-primary;
      }
      p {
        color: $font-color-secondary;
      }
    }
    .main__education {
      background: $container-bgcolor;
      padding: 1rem 1rem 3rem 1rem;
      border-radius: 20px;
      margin-top: 2rem;
      h3 {
        color: $font-color-primary;
      }
      p {
        font-size: 14px;
        font-weight: 500;
      }
      ul {
        color: $font-color-secondary;
        li {
          margin-top: 0.7rem;
        }
      }
    }
  }
  .main__summary {
    width: 50%;
    margin: 1rem;
    @include tablet {
      width: 100%;
    }
    @include mobile {
      width: 100%;
    }
    .main__projects {
      background: $container-bgcolor;
      padding: 1rem 1rem 3rem 1rem;
      border-radius: 20px;
      h3 {
        color: $font-color-primary;
      }
      p {
        font-size: 14px;
        font-weight: 600;
      }
      ul {
        color: $font-color-secondary;
        li {
          margin-top: 0.7rem;
        }
        a {
          text-decoration: none;
          li {
            color: $font-color-secondary;
            margin-top: 0.7rem;
          }
        }
      }
    }
    .main__skills {
      background: $container-bgcolor;
      padding: 1rem 1rem 3rem 1rem;
      border-radius: 20px;
      margin-top: 2rem;
      h3 {
        color: $font-color-primary;
      }
      p {
        font-size: 14px;
        font-weight: 600;
      }
      span {
        color: $font-color-secondary;
      }
    }
  }
}
